1 VERSIONINFO
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1, 0, 0, 0
FILEFLAGS 32
FILEOS 4
FILETYPE 1
{
   BLOCK "StringFileInfo" {
       BLOCK "080904b0" {
           VALUE "FileDescription", "ONScripter"
           VALUE "OriginalFilename", "onscripter.exe"
           VALUE "CompanyName", "Ogapee/Haeleth"
           VALUE "FileVersion", "2007-4-8"
           VALUE "LegalCopyright", "Copyright 1998-2006 Studio O.G.A. Portions copyright 2005-2006 insani, 2006-2007 Haeleth."
           VALUE "ProductName", "ONScripter"
           VALUE "ProductVersion", "1"
       }
   }
   BLOCK "VarFileInfo" {
       VALUE "Translation", 0x0809, 0x04B0
   }
}
